{% extends 'base.html.twig' %}

{% block content %}
    <h1>Post</h1>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p><i>{{ post.dateCreated|date('d/m/Y H:i') }}</i></p>

    <h1>Post Category</h1>
    <p>{{ postCategory.title }}</p>

    <h1>tous les Posts</h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <p><i>{{ post.dateCreated|date('d/m/Y H:i') }}</i></p>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}
